{% extends "base/base.html" %}
    {% load static %}

    {% block title %}Home{% endblock %}

    {% block body_main %}
        <div class="top">
            <h2 class="page-title">Helios とは</h2>
            <p>おひさまのことです。</p>

            <p>ひー！！</p>

            <!-- <div class="top-visual">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/cUHAY6WRhwo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div> -->
        </div>
    {% endblock %} 

