{% extends "base/base.html" %}
    {% load static %}

    {% block title %}Home{% endblock %}

    {% block body_main %}
        <div class="product">
            <h2 class="page-title">Products</h2>
            <div class="row">
                <div class="item">
                    <div class="product-link">
                        <h3>トークテーマルーレット</h3>
                        <a href="{% url 'web:talktheme' %}">test</a>
                        <p> >  詳細をみる</p>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %} 