<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <meta charset="utf-8">
        <title>
            {% block title %}{% endblock %} | HELIOS
        </title>
        <link rel="stylesheet" href="{% static 'css/common.css' %}">
        <link rel="stylesheet" href="{% static 'css/component.css' %}">
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    </head>
    <body>
        <div class="base">
        {% include "common/header.html" %}
        <main>
            <div class="main">
                {% block body_main %}
                {% endblock %}        
            </div>
        </main>
        {% include "common/footer.html" %}
        </div>
    </body>
</html>